:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: thistle;
    color: #000;
}

#root {
    width: 100%;
    padding: 0 10px;
    position: relative;
    border: 1px dashed grey;
    background-color: lightyellow;
    padding-bottom: 80px; /* for footer */
}

footer {
    min-height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
}

footer div {
    padding: 10px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2 {
    font-family: monospace;
    font-size: 17px;
    display: inline-block;
}

.margin-bottom-none {
    margin-bottom: 0;
}

h2 span {
    font-weight: normal;
    font-size: 14px;
}

.buttons-wrapper {
    display: flex; /* to fix vertical align */
    position: sticky;
    top: 0;
    background: lightyellow;
    padding: 5px 0 3px;
}

.buttons-filter {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    margin-left: 5px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid black;
    padding: 4px 8px; /* 0.3em 0.6em */
    margin-right: .3em;
    margin-bottom: .3em;
    font-size: 13px; /* 1em */
    font-weight: bold;
    font-family: inherit;
    background-color: azure; /* lightcyan */
    cursor: pointer;
}

.buttons-wrapper .btn:last-child {
    margin-right: 0;
}

.btn span {
    font-size: 11px;
    font-weight: 400;
    pointer-events: none; /* disable click */
}

.btn:hover,
.btn.on {
    background-color: aqua;
}

.btn.on {
    cursor: default;
    pointer-events: none;
}

.btn.order {
    min-width: 68px;
    border-radius: unset;
}

.icon.order {
    display: inline-block;
    width: 12px;
    margin-left: 5px;
    aspect-ratio: 1;
    vertical-align: middle;
    background-image: url('./assets/images/up-arrow_by_ Roundicons_Flaticon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 0.15s linear;
}
.icon.order.desc {
    transform: rotate(180deg);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.row img {
    height: auto;
    object-fit: contain;
}

.row.row-movie .data-column {
    width: 46%;
    padding-left: 4%;
    font-size: 13px;
}

.page .row.row-movie .data-column {
    display: none;
}

.row.row-movie img {
    width: 50%;
}

.page .row.row-movie {
    align-items: stretch;
}

.page .row.row-movie img,
.row.row-person img
{
    width: 48%;
    float: left;
}

.page .row.row-movie .description img,
.row.row-person .description img {
    padding-right: 4%;
}

.page .row.row-movie .description img {
    padding-top: 5%;
}

.page .row.row-movie img {
    padding-bottom: 10px;
}

.row.row-movie iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* 640/360 */
}

.row.row-movie .description, 
.row.row-person .description
{
    width: 100%;
}

.content-wrapper.page > div {
    padding-bottom: 20px;
}

ol .content-wrapper > div {
    padding-bottom: 0;
}

.show-on-mobile {
    display: block;
}

.show-on-desktop {
    display: none;
}

p, div {
    text-align: left;
    font-size: 13px;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    display: inline-block;
    padding: 0;
}

ul li {
    display: inline;
    padding-right: 10px;
    list-style-type: none;
}

ol {
    padding: 0;
    margin: 0;
    min-height: 70%;
    height: auto;
}

ol li {
    margin: 0;
    padding: 0 0 10px 0;
    list-style-position: inside;
    min-height: 237px;
}

ol li a {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ol li a + span {
    font-family: initial;
    font-size: 13px; /* 11px; */
}

.info-bar div {
    display: inline-block;
    padding-right: 10px;
}

.credits div span {
    display: inline-block;
    padding-right: 10px;
}

.stars-voted span {
    display: none;
}

.credits .credits-wrapper {
    padding-bottom: 20px;
}

.credits .credits-wrapper:last-child {
    padding-bottom: 0;
}

.credits.no-photos .credits-wrapper {
    padding-bottom: 0;
}

.credits.no-photos .persons-wrapper {
    display: inline;
}

.credits.no-photos .persons-wrapper div {
    display: inline-block;
    width: unset;
    padding-right: 10px;
}

.persons-wrapper div,
.movies-wrapper div {
    display: flex;
    flex-direction: column;
}

.persons-wrapper.directors div {
    width: 100%;
}

.persons-wrapper div,
.movies-wrapper div {
    width: 31%;
}

.persons-wrapper div img,
.movies-wrapper div img {
    width: unset;
}

.release-data {
    display: inline;
}
.release-data::before {
    content: " ";
    padding-left: 1px;
}

@media only screen and (min-width: 768px) {
    #root {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto; /* center */
    }

    ol {
        padding: 0 4px;
    }

    .show-on-mobile {
        display: none;
    }
    
    .show-on-desktop {
        display: block;
    }
    
    .row.row-movie img {
        width: 16%;
    }

    .row.row-movie .data-column {
        width: 82%;
        padding-left: 2%;
    }

    .row.row-person img,
    .page .row.row-movie img {
        width: 32.5%;
    }

    .page .row.row-movie .description img,
    .row.row-person .description img {
        padding-right: 2%;
    }

    .page .row.row-movie img {
        padding-bottom: 0;
    }

    .row.row-movie iframe {
        width: 66%;
    }

    .row.row-person .description {
        width: 100%;
        margin-top: 0;
    }

    .row.row-movie .description {
        width: 100%;
    }

    .persons-wrapper div,
    .movies-wrapper div {
        width: 10%;
    }

    .stars-voted span {
        display: inline;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }

    #root,
    .buttons-wrapper {
        background-color: #333; /* Dark background */
    }

    .btn {
        background-color: cornflowerblue;
        color: white;
    }
    .btn:hover, 
    .btn.on {
        background-color: orange;
    }

    a {
        color: white;
    }
    a:hover {
        color: cornflowerblue;
    }
}
