:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: darkblue;
    text-decoration: inherit;
}
a:hover {
    color: darkslateblue;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: thistle;
    color: #000;
}

#root {
    width: 100%;
    padding: 0 10px;
    position: relative;
    border: 1px dashed grey;
    background-color: lightyellow;
    padding-bottom: 120px; /* for footer */
}

header {
    text-align: center;
    padding: 20px 0 0;
}

footer {
    /* min-height: 80px; */ /* corresponds to padding-bottom on #root */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; /* flex-end */
    border-top: 1px dashed grey;
    padding-bottom: 10px;
}

footer div {
    padding: 10px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: monospace;
    font-size: 17px;
    display: inline-block;
}

.margin-bottom-none {
    margin-bottom: 0;
}

h2 span {
    font-weight: normal;
    font-size: 14px;
}

select {
    height: 36px;
    border: 1px solid black;
    font-size: 15px;
    /* line-height: 200%; */
    font-weight: bold;
    font-family: inherit;
}

.buttons-wrapper {
    display: flex; /* to fix vertical align */
    position: sticky;
    top: 59px;
    background: lightyellow;
    padding: 5px 0 3px;
}

.buttons-filter {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    margin-left: 5px;
    /* scroll-margin-top: 36px; */
    position: relative; /* so child offsetwidth can be calculated correctly */ 
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 16px;
    border: 1px solid black;
    height: 34px;
    padding: 0 8px; /* 4px 8px, 0.3em 0.6em */
    margin-right: .3em;
    margin-bottom: .3em;
    font-size: 15px; /* 13px, 1em */
    line-height: 200%; /* vertical align middle */
    font-weight: bold;
    font-family: inherit;
    background-color: azure; /* lightcyan */
    cursor: pointer;
}

.btn.back {
    border-radius: unset;
    background-color: unset !important;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.btn.back:hover {
    text-decoration: none;
}

.buttons-wrapper .btn:last-child {
    margin-right: 0;
}

.btn span {
    font-size: 11px;
    font-weight: 400;
    pointer-events: none; /* disable click */
}

.btn:hover,
.btn.on {
    background-color: aqua;
}

.btn.on {
    cursor: default;
    pointer-events: none;
}

.btn.order {
    border-radius: unset;
    margin-left: 10px;
    height: 36px;
}

.btn.order .icon {
    display: inline-block;
    height: 36px;
    width: 16px;
    vertical-align: middle;
    background-image: url('./assets/images/flaticon-downArrow-by_Handicon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    transition: transform 0.15s linear;
}
.btn.order .icon.asc {
    transform: rotate(-180deg); /* point up */
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.row img {
    height: auto;
    object-fit: contain;
}

.row.row-movie {
    padding-top: 4px;
}

.row.row-movie .data-column {
    font-size: 13px;
    width: 63%;
    padding-right: 0;
    padding-left: 4%;
}

.page .row.row-movie .data-column {
    display: none;
}

.row.row-movie img {
    width: 33%;
}

.page .row.row-movie {
    align-items: stretch;
}

.page .row.row-movie img,
.row.row-person img
{
    width: 48%;
    float: left;
}

.page .row.row-movie .description img,
.row.row-person .description img {
    padding-right: 4%;
}

.page .row.row-movie .description img {
    padding-top: 5%;
}

.page .row.row-movie img {
    padding-bottom: 10px;
}

.row.row-movie iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* 640/360 */
}

.row.row-movie .description, 
.row.row-person .description
{
    width: 100%;
}

.content-wrapper.page > div {
    padding-bottom: 20px;
}

ol .content-wrapper > div {
    padding-bottom: 0;
}

.show-on-mobile {
    display: block;
}

.show-on-desktop {
    display: none;
}

p, div {
    text-align: left;
    font-size: 13px;
}

p {
    margin-bottom: 0;
}

.show-on-desktop p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}
/* .show-on-desktop p {
    position: relative;
    max-height: 120px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}
.show-on-desktop p::before {
  position: absolute;
  content: "...";
  inset-block-end: 0;
  inset-inline-end: 0;
}
.show-on-desktop p::after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  width: 1rem;
  height: 1rem;
  background: white;
} */

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    display: inline-block;
    padding: 0;
}

ul li {
    display: inline;
    padding-right: 10px;
    list-style-type: none;
}

ol {
    padding: 0;
    margin: 0;
    min-height: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ol li {
    margin: 0;
    padding: 12px 0 10px 0;
    list-style-position: inside;
    min-height: 237px;
    font-size: 14px;
    width: 100%;
}

ol li h2 {
    display: inline;
}

ol li a {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ol li a + span {
    font-family: initial;
    font-size: 13px; /* 11px; */
}

.info-bar div {
    display: inline-block;
    padding-right: 10px;
}

.credits div span {
    display: inline-block;
    padding-right: 10px;
}

.stars-voted span {
    display: inline;
    font-size: 11px;
}

.credits .credits-wrapper {
    padding-bottom: 20px;
}

.credits .credits-wrapper:last-child {
    padding-bottom: 0;
}

.credits.no-photos .credits-wrapper {
    padding-bottom: 0;
}

.credits.no-photos .persons-wrapper {
    display: inline;
}

.credits.no-photos .persons-wrapper div {
    display: inline-block;
    width: unset;
    padding-right: 10px;
}

.persons-wrapper div,
.movies-wrapper div {
    display: flex;
    flex-direction: column;
}

.persons-wrapper.directors div {
    width: 100%;
}

.persons-wrapper div,
.movies-wrapper div {
    width: 31%;
}

.persons-wrapper div img,
.movies-wrapper div img {
    width: unset;
}

.release-data {
    display: inline;
}
.release-data::before {
    content: " ";
    padding-left: 1px;
}

.range-wrapper {
    width: 100%;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightyellow;
    position: sticky;
    top: 0;
    height: 60px;
}

.slider-row {
    display: flex;
    flex-direction: row;
}
.slider-row span {
    padding: 0 4px;
    font-size: 15px;
    font-weight: bold;
}

.stick-to-top {
    position: sticky;
    top: 0;
    background-color: lightyellow;
}

input[type="range"] {
    margin: 0;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* writing-mode: vertical-lr; */
}

input[type="range"],
datalist
{
    width: 240px; /* 300px */
}

datalist option {
    padding: 0;
    display: none;
}

@media only screen and (min-width: 768px) {
    #root {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto; /* center */
    }

    ol {
        padding: 0 4px;
    }

    .show-on-mobile {
        display: none;
    }
    
    .show-on-desktop {
        display: block;
    }

    .row.row-movie .data-column {
        width: 61%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .row.row-person img,
    .page .row.row-movie img {
        width: 32.5%;
    }

    .page .row.row-movie .description img,
    .row.row-person .description img {
        padding-right: 2%;
    }

    .page .row.row-movie img {
        padding-bottom: 0;
    }

    .row.row-movie iframe {
        width: 66%;
    }

    .row.row-person .description {
        width: 100%;
        margin-top: 0;
    }

    .row.row-movie .description {
        width: 100%;
    }

    .persons-wrapper div,
    .movies-wrapper div {
        width: 10%;
    }

    ol li {
        width: 50%;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000011;
        color: white;
    }

    #root,
    .buttons-wrapper {
        background-color: #333;
    }

    .btn {
        background-color: cornflowerblue;
        color: white;
    }
    .btn:hover, 
    .btn.on {
        background-color: darkorange;
    }

    a {
        color: white;
    }
    a:hover {
        color: cornflowerblue;
    }
}
