:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: stretch;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 16px;
    border: 1px solid black;
    padding: 0.3em 0.6em;
    margin-right: .3em;
    margin-bottom: .2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.on {
    font-weight: bold;
    background-color: lightgray;
}

/* button.btn-order {
    
} */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

#root {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    border: 1px dashed grey;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row img {
    width: 45%;
}

.row.row-movie-component .data-column {
    width: 50%;
    padding-left: 10px;
    font-size: 13px;
}

/* .row.row-movie {
} */

.row.row-movie img,
.row.row-person img
{
    width: 100%;
}

.row.row-movie iframe {
    width: 100%;
    aspect-ratio: 1.75;
}

.row.row-movie .description, 
.row.row-person .description
{
    width: 100%;
}

.show-on-mobile {
    display: block;
}

.show-on-desktop {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.column p {
    text-align: left;
    font-size: 13px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    display: inline-block;
    padding: 0;
}

ul li {
    display: inline;
    padding-right: 10px;
    list-style-type: none;
}

ol {
    padding-left: 25px;
    padding-right: 20px;
    min-height: 70%;
    height: auto;
}

ol li {
    padding-bottom: 15px;
}

.info-bar div {
    display: inline-block;
    padding-right: 10px;
}

.credits div span {
    display: inline-block;
    padding-right: 10px;
}

.credits-wrapper {
    padding-bottom: 20px;
}

.credits.no-photo .credits-wrapper {
    padding-bottom: 0;
}

.persons-wrapper {
    justify-content: space-between;
}

.credits.no-photo .persons-wrapper {
    display: inline;
}

.credits.no-photo .persons-wrapper div {
    display: inline-block;
    width: unset;
    padding-right: 10px;
}

.persons-wrapper div {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.persons-wrapper div img {
    width: unset;
}

@media only screen and (min-width: 768px) {
    .show-on-mobile {
        display: none;
    }
    
    .show-on-desktop {
        display: block;
    }
    
    .row img {
        width: 140px; /* 25% */
    }

    .row.row-movie-component .data-column {
        width: 75%;
    }

    .row.row-movie img,
    .row.row-person img
    {
        width: 25%;
    }

    .row.row-person img {
        height: fit-content;
    }

    .row.row-movie iframe,
    .row.row-person .description
    {
        width: 75%;
    }

    .row.row-movie .description {
        width: 100%;
    }

    .persons-wrapper div {
        width: 16%;
    }
}
